.glass {
    background: radial-gradient(
        circle,
        rgba(65, 189, 195, 0.515),
        rgba(138, 133, 123, 0.25) 80%,
        rgba(60, 56, 56, 0.827) 100%
    );
    box-shadow: 0 8px 32px 0 rgba(51, 51, 53, 0.37);
    border-radius: 14px;
    border: 2px solid rgba(255, 255, 255, 0.422);
}

.status-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 16px;
  gap: 16px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: 70px;
  padding: 8px;
  gap: 8px;
}

.center {
  width: 100%;
  height: 70px;
}


#cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#card1 {
    background: radial-gradient(
        circle,
        rgba(29, 76, 216, 0.515),
        rgba(79, 76, 69, 0.25) 80%,
        rgba(60, 56, 56, 0.6) 100%
    );
    box-shadow: 0 8px 32px 0 rgba(51, 51, 53, 0.37);
    border-radius: 14px;
    border: 2px solid rgba(255, 255, 255, 0.422);
    width: 85%;
    height: 26%;
    padding: 4px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
}

#title-one {
    color: rgb(0, 102, 255);
    font-weight: bold;
}

#desc-one {
    text-align: start;
    font-size: 12px;
}

#btn-one {
    background: rgb(0, 102, 255);
}

#content-one {
    width: 85%;
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
}

#planet_small-one {
    width: 150px;
    cursor: pointer;
    margin-right: -30px;
    margin-top: -35px;
}

#card2 {
    background: radial-gradient(
        circle,
        rgba(202, 190, 22, 0.467) 0%,
        rgba(79, 76, 69, 0.25) 80%,
        rgba(60, 56, 56, 0.6) 100%
    );
    box-shadow: 0 8px 32px 0 rgba(51, 51, 53, 0.37);
    border-radius: 14px;
    border: 2px solid rgba(255, 255, 255, 0.422);
    width: 85%;
    height: 26%;
    padding: 4px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
#card00 {
    background: radial-gradient(
        circle,
        hsla(131, 80%, 44%, 0.467) 0%,
        rgba(69, 79, 76, 0.25) 80%,
        rgba(56, 60, 56, 0.6) 100%
    );
    box-shadow: 0 8px 32px 0 rgba(51, 51, 53, 0.37);
    border-radius: 14px;
    border: 2px solid rgba(255, 255, 255, 0.422);
    width: 85%;
    height: 26%;
    padding: 4px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

#title-two {
    color: rgb(236, 157, 11);
    font-weight: bold;
}
#title-uu {
    color: rgb(14, 183, 19);
    font-weight: bold;
}

#desc-two {
    text-align: start;
    font-size: 12px;
}

#btn-two {
    background: rgb(236, 157, 11);
}

#content-two {
    width: 85%;
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
}

#planet_small-two {
    width: 180px;
    cursor: pointer;
    margin-right: -40px;
    margin-top: -35px;
}

#card3 {
    background: radial-gradient(
        circle,
        rgba(203, 30, 50, 0.484),
        rgba(79, 76, 69, 0.25) 80%,
        rgba(60, 56, 56, 0.6) 100%
    );
    box-shadow: 0 8px 32px 0 rgba(51, 51, 53, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 14px;
    border: 2px solid rgba(255, 255, 255, 0.422);
    width: 85%;
    height: 26%;
    padding: 4px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
#title-three {
    color: rgb(230, 34, 16);
    font-weight: bold;
}

#desc-three {
    text-align: start;
    font-size: 12px;
}

#btn-three {
    background: rgb(230, 34, 16);
}

#content-three {
    width: 85%;
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
}

#planet_small-three {
    width: 120px;
    cursor: pointer;
    margin-right: -20px;
    margin-top: -35px;
    object-position: 40% center;
}
#card4 {
    background: radial-gradient(
        circle,
        rgba(203, 131, 30, 0.484),
        rgba(79, 76, 69, 0.25) 80%,
        rgba(60, 56, 56, 0.6) 100%
    );
    box-shadow: 0 8px 32px 0 rgba(51, 51, 53, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 14px;
    border: 2px solid rgba(255, 255, 255, 0.422);
    width: 85%;
    height: 26%;
    padding: 4px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
#title-four {
    color: rgb(240, 113, 9);
    font-weight: bold;
}

#desc-four {
    text-align: start;
    font-size: 12px;
}

#btn-four {
    background: rgb(240, 113, 9);
}

#content-four {
    width: 85%;
    padding-top: 4px;
    padding-bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
}

#planet_small-four {
    width: 180px;
    cursor: pointer;
    margin-right: -40px;
    margin-top: -45px;
    object-position: 40% center;
}

/* .explore {
    font-weight: bold;
    border: 1px solid white;
    padding: 4px;
    border-radius: 15px;
    color: white;
    letter-spacing: 2px;
} */

#earth {
    width: 350px;
    cursor: pointer;
    animation: rotate 90s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

#top-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 5px;
    gap: 15px;
}

#water-sec {
    gap: 8px;
}

#water-per,
#specie-text {
    color: rgb(0, 102, 255);
    font-weight: bold;
    text-shadow: 0 0 5px rgba(6, 11, 27, 0.7);
}

#water-per {
    font-size: 13px;
}

#circle-div {
    width: 100px;
    height: 100px;
    background: url("/public/Water Percentage.png");
    background-size: cover;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(6, 11, 27, 0.7);
    box-shadow: 0 8px 32px 0 rgba(51, 51, 53, 0.37);
}

.rec-div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.species-graph {
    width: 220px;
}

.song-card {
    width: 100%;
    height: 110px;
}

#sound-sec {
    width: 100%;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    border-radius: 22px;
    box-shadow: 0 8px 32px 0 rgba(51, 51, 53, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

#bottom-div {
    flex: 1;
    background: linear-gradient(135deg, #8d24aa3f, #ba68c845);
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 32px 0 rgba(51, 51, 53, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.sound-waves {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.playing {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 1px;
    width: 100%;
    height: 20px;
}

.greenline {
    background-color: #1db954;
    height: 20px;
    width: 8px;
    position: relative;
    transform-origin: bottom;
}

.line-1 {
    animation: infinite playing 1s ease-in-out;
    animation-delay: 0.2s;
}

.line-2 {
    animation: infinite playing 1s ease-in-out;
    animation-delay: 0.5s;
}

.line-3 {
    animation: infinite playing 1s ease-in-out;
    animation-delay: 0.6s;
}

.line-4 {
    animation: infinite playing 1s ease-in-out;
    animation-delay: 0s;
}

.line-5 {
    animation: infinite playing 1s ease-in-out;
    animation-delay: 0.4s;
}

@keyframes playing {
    0% {
        transform: scaleY(0.1);
    }

    33% {
        transform: scaleY(0.6);
    }

    66% {
        transform: scaleY(0.9);
    }

    100% {
        transform: scaleY(0.1);
    }
}
